@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
    @tailwind base;
}

@layer tailwind-utilities {
    @tailwind components;
    @tailwind utilities;
}

html {
    font-size: 14px;
}

body {
    margin: 0;
    font-family: var(--font-family);
    font-weight: normal;
    background: var(--surface-ground);
    color: var(--text-color);
    padding: 1rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.card {
    background: var(--surface-ground);
    padding: 2rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    min-height: calc(100vh - 30px);
}

.inner {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 30px;
}

p {
    line-height: 1.75;
}

.inner-card {
    min-height: calc(100vh - 100px);
    padding: 15px;
    width: 100%;
}